---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2017&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17YTSTDTh2DhiR4RwFgJV2uL",
          "object": "token",
          "card": {
            "id": "card_17YTSTDTh2DhiR4RzYAEM0C1",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "YAXXiZ76FR58tQUG",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "73.9.29.65",
          "created": 1454040125,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 29 Jan 2016 04:02:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=&metadata[reference]=ac5296debb15c74d3813&source=tok_17YTSTDTh2DhiR4RwFgJV2uL
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ac5296debb15c74d3813
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ac5296debb15c74d3813
      Original-Request:
      - req_7o5dt1nBx5g00C
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17YTSUDTh2DhiR4RBpzRLCQs"
          }
        }
  recorded_at: Fri, 29 Jan 2016 04:02:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=&metadata[reference]=f10e87c8968a7265096a&source=tok_17YTSTDTh2DhiR4RwFgJV2uL
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f10e87c8968a7265096a
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f10e87c8968a7265096a
      Original-Request:
      - req_7o5dyMGzM1vYjG
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17YTSUDTh2DhiR4RvRBamk1l"
          }
        }
  recorded_at: Fri, 29 Jan 2016 04:02:06 GMT
recorded_with: VCR 3.0.1
