---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17njCFDTh2DhiR4RtnNtOvQr",
          "object": "token",
          "card": {
            "id": "card_17njCFDTh2DhiR4RSvq3kZpT",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "73.9.29.65",
          "created": 1457675543,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 11 Mar 2016 05:52:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=&metadata[reference]=d0bcfdbfee7a17c6efc5&source=tok_17njCFDTh2DhiR4RtnNtOvQr
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d0bcfdbfee7a17c6efc5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d0bcfdbfee7a17c6efc5
      Original-Request:
      - req_83qu8rRm3Mz0Uv
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17njCGDTh2DhiR4RNOnE2xw2",
          "object": "charge",
          "amount": 3000,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17njCGDTh2DhiR4Rn5MlPied",
          "captured": true,
          "created": 1457675544,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "d0bcfdbfee7a17c6efc5"
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17njCGDTh2DhiR4RNOnE2xw2/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17njCFDTh2DhiR4RSvq3kZpT",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 11 Mar 2016 05:52:24 GMT
recorded_with: VCR 3.0.1
