---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"quantity":"1","price":"15.00","currency":"USD"},{"quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://localhost:3000/paypal/approved","cancel_url":"http://localhost:3000/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A101.nsXwBn-sXJoUohDAU6kkG9dvXJPZ6LAxgaqTWIPxUyrDALVqzRiCO_etuhz88HN1.rPswXogf3d5kUZpEqdXC9RUEe90
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - f33b1c37-2dcc-4a7c-a9e7-e4f1e54531e5
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=311
      Paypal-Debug-Id:
      - f70a4e12dc39e
      - f70a4e12dc39e
      Correlation-Id:
      - f70a4e12dc39e
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-2B358523SH665121EK5COIQA","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"price":"15.00","currency":"USD","quantity":1},{"price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-05-24T23:31:11Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-2B358523SH665121EK5COIQA","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-18P221549P956045G","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-2B358523SH665121EK5COIQA/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Tue, 24 May 2016 23:31:12 GMT
recorded_with: VCR 3.0.3
