---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"quantity":"1","price":"15.00","currency":"USD"},{"quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://localhost:3000/paypal/approved","cancel_url":"http://localhost:3000/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A101.UV5aDq444xj-9GAMkMz6NUKJM-GRNN-A4nOoO4PyPwF6y47t4eqG4r5zx1nO-MIs.SmRo1v7JvFTZboL4KTPvrEh5YSa
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 1dc518f1-e789-495b-9bae-f2a5edbb6857
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=373
      Paypal-Debug-Id:
      - 7d0c24de71707
      - 7d0c24de71707
      Correlation-Id:
      - 7d0c24de71707
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-3E857720NT2375931K3L2CPQ","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"price":"15.00","currency":"USD","quantity":1},{"price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-03-03T02:28:14Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-3E857720NT2375931K3L2CPQ","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-6V3563390D7518300","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-3E857720NT2375931K3L2CPQ/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 03 Mar 2016 02:28:14 GMT
recorded_with: VCR 3.0.1
