---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"quantity":"1","price":"15.00","currency":"USD"},{"quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://localhost:3000/paypal/approved","cancel_url":"http://localhost:3000/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A101.C53T72yuhenhSbRIi-GgLEY3HBgH417lfVhD9si8BH6JIauYx8N0_iMePwM7yE1R.YV7KBsZc9oDNDJRjkrFJsoqaGG4
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - ec93c019-df27-40c5-ad61-5335382eee4c
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=1088
      Paypal-Debug-Id:
      - 4d4944a849680
      - 4d4944a849680
      Correlation-Id:
      - 4d4944a849680
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-0HU08753LY234611FK3OKPDQ","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"price":"15.00","currency":"USD","quantity":1},{"price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-03-06T21:56:30Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-0HU08753LY234611FK3OKPDQ","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-9FV723914X459490J","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-0HU08753LY234611FK3OKPDQ/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Sun, 06 Mar 2016 21:56:30 GMT
recorded_with: VCR 3.0.1
