---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"quantity":"1","price":"15.00","currency":"USD"},{"quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://localhost:3000/paypal/approved","cancel_url":"http://localhost:3000/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A101.C53T72yuhenhSbRIi-GgLEY3HBgH417lfVhD9si8BH6JIauYx8N0_iMePwM7yE1R.YV7KBsZc9oDNDJRjkrFJsoqaGG4
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - abade986-ffbf-4680-b3ec-262b50f998de
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=364
      Paypal-Debug-Id:
      - 590699b33a332
      - 590699b33a332
      Correlation-Id:
      - 590699b33a332
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-98258685P3942634CK3OKPDY","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"price":"15.00","currency":"USD","quantity":1},{"price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-03-06T21:56:31Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-98258685P3942634CK3OKPDY","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-4030650726647650F","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-98258685P3942634CK3OKPDY/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Sun, 06 Mar 2016 21:56:31 GMT
recorded_with: VCR 3.0.1
