---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"quantity":"1","price":"15.00","currency":"USD"},{"quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://localhost:3000/paypal/approved","cancel_url":"http://localhost:3000/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A101.-MAMu1KGisbSRg5vxI-Nev51NTLtcHvozlTOsXsUhKo-xQZgc6-wAaMigv_SjWMC.MtojmVqiU6dqQM5yveWATY6zC8m
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 63bc2cc1-36b8-4d35-bbf0-faa3d8b314d8
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=558
      Paypal-Debug-Id:
      - 53fcb04b8d1be
      - 53fcb04b8d1be
      Correlation-Id:
      - 53fcb04b8d1be
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-4SR37727XA545902WK3LEGUQ","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"price":"15.00","currency":"USD","quantity":1},{"price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-03-02T01:35:14Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-4SR37727XA545902WK3LEGUQ","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-82K5861608739330Y","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-4SR37727XA545902WK3LEGUQ/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Wed, 02 Mar 2016 01:35:15 GMT
recorded_with: VCR 3.0.1
