---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"quantity":"1","price":"15.00","currency":"USD"},{"quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://localhost:3000/paypal/approved","cancel_url":"http://localhost:3000/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A101.nsXwBn-sXJoUohDAU6kkG9dvXJPZ6LAxgaqTWIPxUyrDALVqzRiCO_etuhz88HN1.rPswXogf3d5kUZpEqdXC9RUEe90
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 616c689c-3a54-4410-a6bd-541990d1b580
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=206
      Paypal-Debug-Id:
      - 28c3998681041
      - 28c3998681041
      Correlation-Id:
      - 28c3998681041
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-8CE06941YJ1787945K5COIQQ","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"price":"15.00","currency":"USD","quantity":1},{"price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-05-24T23:31:14Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-8CE06941YJ1787945K5COIQQ","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-97G17255WL323281L","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-8CE06941YJ1787945K5COIQQ/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Tue, 24 May 2016 23:31:15 GMT
recorded_with: VCR 3.0.3
