---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"quantity":"1","price":"15.00","currency":"USD"},{"quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://localhost:3000/paypal/approved","cancel_url":"http://localhost:3000/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A101.yCWPz8jn7AFrIqM9HYFlaPI8yXjPcOGnHypOlPNqnpQGOl5fTJTcTe2Ys92N2V2x.-Xun7zlr0NTAZQyAyn4Ojc0z0Ry
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - fb84faa1-ec56-4476-948a-329a9325611b
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=473
      Paypal-Debug-Id:
      - f88fb8fe8c565
      - f88fb8fe8c565
      Correlation-Id:
      - f88fb8fe8c565
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-52532409KR466201LK3SJR4I","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"price":"15.00","currency":"USD","quantity":1},{"price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-03-12T22:32:16Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-52532409KR466201LK3SJR4I","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-56Y838714H247923C","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-52532409KR466201LK3SJR4I/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Sat, 12 Mar 2016 22:32:17 GMT
recorded_with: VCR 3.0.1
