---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"quantity":"1","price":"15.00","currency":"USD"},{"quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://localhost:3000/paypal/approved","cancel_url":"http://localhost:3000/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A101.UV5aDq444xj-9GAMkMz6NUKJM-GRNN-A4nOoO4PyPwF6y47t4eqG4r5zx1nO-MIs.SmRo1v7JvFTZboL4KTPvrEh5YSa
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - c74fa9db-b7d4-4f09-afe9-6c2721ebb5b3
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=462
      Paypal-Debug-Id:
      - 5d841a2c6bc74
      - 5d841a2c6bc74
      Correlation-Id:
      - 5d841a2c6bc74
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-6XW55103RR0916209K3L2CPY","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"price":"15.00","currency":"USD","quantity":1},{"price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-03-03T02:28:15Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-6XW55103RR0916209K3L2CPY","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-0C99347022454152Y","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-6XW55103RR0916209K3L2CPY/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 03 Mar 2016 02:28:15 GMT
recorded_with: VCR 3.0.1
