---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"quantity":"1","price":"15.00","currency":"USD"},{"quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://localhost:3000/paypal/approved","cancel_url":"http://localhost:3000/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A101.rnYyCKnpdV5rW-hsBm317xTDajZU_cr6hRouWMNkTU9wbJZM4e8DG7ueWJwiWZ1_.l-Iv9zf5ogKAzcQ2sq4TbAtsLL8
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 3082e7d7-4680-4f2a-aa12-32f9559f9832
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=325
      Paypal-Debug-Id:
      - a401ab93d6206
      - a401ab93d6206
      Correlation-Id:
      - a401ab93d6206
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-12943705VG449022WK3RF35Y","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"price":"15.00","currency":"USD","quantity":1},{"price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-03-11T05:56:06Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-12943705VG449022WK3RF35Y","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-2S453624LA500152G","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-12943705VG449022WK3RF35Y/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Fri, 11 Mar 2016 05:56:07 GMT
recorded_with: VCR 3.0.1
