---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"quantity":"1","price":"15.00","currency":"USD"},{"quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://localhost:3000/paypal/approved","cancel_url":"http://localhost:3000/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A101.nsXwBn-sXJoUohDAU6kkG9dvXJPZ6LAxgaqTWIPxUyrDALVqzRiCO_etuhz88HN1.rPswXogf3d5kUZpEqdXC9RUEe90
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - e7f0995d-c089-464d-b67d-b642c530ccea
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=426
      Paypal-Debug-Id:
      - 839a6fe3ec7e2
      - 839a6fe3ec7e2
      Correlation-Id:
      - 839a6fe3ec7e2
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-05111301ES138803SK5COIRA","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"price":"15.00","currency":"USD","quantity":1},{"price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-05-24T23:31:16Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-05111301ES138803SK5COIRA","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-7JP379642M634072E","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-05111301ES138803SK5COIRA/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Tue, 24 May 2016 23:31:16 GMT
recorded_with: VCR 3.0.3
