---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"quantity":"1","price":"15.00","currency":"USD"},{"quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://localhost:3000/paypal/approved","cancel_url":"http://localhost:3000/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A101._1f8DZlYZWMBVT0IZsqCGEckBSNg2MwqGP27_b1hW_ju-aqDrRD55bxRPH_VZLvf.Gd4X_4uSj-MxcvGZUcB9XsnLVi8
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - be8e16d1-7568-436c-9024-a4a1538afc5e
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=698
      Paypal-Debug-Id:
      - 61d9b6669a53
      - 61d9b6669a53
      Correlation-Id:
      - 61d9b6669a53
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-2HP86077UR5885253K27V22Y","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"price":"15.00","currency":"USD","quantity":1},{"price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-02-13T16:44:27Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-2HP86077UR5885253K27V22Y","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-4CY36291X7222541N","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-2HP86077UR5885253K27V22Y/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Sat, 13 Feb 2016 16:44:28 GMT
recorded_with: VCR 3.0.1
