---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17xp42DTh2DhiR4Rv5wcqoTM",
          "object": "token",
          "card": {
            "id": "card_17xp42DTh2DhiR4RX10x1rEZ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.13.236.96",
          "created": 1460081378,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 08 Apr 2016 02:09:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=buyer%40cubs.com
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8EHdQEbQ8zSfhQ",
          "object": "customer",
          "account_balance": 0,
          "created": 1460081378,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "buyer@cubs.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8EHdQEbQ8zSfhQ/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8EHdQEbQ8zSfhQ/subscriptions"
          }
        }
  recorded_at: Fri, 08 Apr 2016 02:09:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8EHdQEbQ8zSfhQ
    body:
      encoding: UTF-8
      string: source=tok_17xp42DTh2DhiR4Rv5wcqoTM
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encodin[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8EHdQEbQ8zSfhQ/subscriptions
    body:
      encoding: UTF-8
      string: plan=vip_monthly
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_8EHdpF1zVwqvEA",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "current_period_end": 1462673380,
          "current_period_start": 1460081380,
          "customer": "cus_8EHdQEbQ8zSfhQ",
          "discount": null,
          "ended_at": null,
          "metadata": {},
          "plan": {
            "id": "vip_monthly",
            "object": "plan",
            "amount": 30000,
            "created": 1459685135,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "VIP Monthly",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1460081380,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Fri, 08 Apr 2016 02:09:40 GMT
recorded_with: VCR 3.0.1
