---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2017&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17njCGDTh2DhiR4Rp8IzPj7m",
          "object": "token",
          "card": {
            "id": "card_17njCGDTh2DhiR4Rbhg3YDkB",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "YAXXiZ76FR58tQUG",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "73.9.29.65",
          "created": 1457675544,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 11 Mar 2016 05:52:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=&metadata[reference]=e3b9d488aa8e6a5621dd&source=tok_17njCGDTh2DhiR4Rp8IzPj7m
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e3b9d488aa8e6a5621dd
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e3b9d488aa8e6a5621dd
      Original-Request:
      - req_83qu5MHdlmxNtu
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17njCHDTh2DhiR4RAOLw7l79"
          }
        }
  recorded_at: Fri, 11 Mar 2016 05:52:25 GMT
recorded_with: VCR 3.0.1
