---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2017&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17YHZGDTh2DhiR4RyC4s9lMX",
          "object": "token",
          "card": {
            "id": "card_17YHZGDTh2DhiR4RJpiMk7vd",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "YAXXiZ76FR58tQUG",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "199.182.211.53",
          "created": 1453994418,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 28 Jan 2016 15:20:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=&metadata[reference]=0e90a4f0bd7a45ab47ef&source=tok_17YHZGDTh2DhiR4RyC4s9lMX
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 0e90a4f0bd7a45ab47ef
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0e90a4f0bd7a45ab47ef
      Original-Request:
      - req_7ntLgDIvbp5Q36
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17YHZHDTh2DhiR4R7DlIfpkH"
          }
        }
  recorded_at: Thu, 28 Jan 2016 15:20:19 GMT
recorded_with: VCR 3.0.1
