---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_hDphyYsTATxE4eOIrHbtqAlV
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18FCjLDTh2DhiR4Ra9FLkmSq",
          "object": "token",
          "card": {
            "id": "card_18FCjLDTh2DhiR4RK5LndvIR",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.13.236.96",
          "created": 1464223927,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 26 May 2016 00:52:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&description=&metadata[reference]=f91b6e60b4612f70da49&source=tok_18FCjLDTh2DhiR4Ra9FLkmSq
    headers:
      Authorization:
      - Bearer sk_test_hDphyYsTATxE4eOIrHbtqAlV
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f91b6e60b4612f70da49
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f91b6e60b4612f70da49
      Original-Request:
      - req_8WFDnraPXmZe8L
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18FCjLDTh2DhiR4R2gezXWSu",
          "object": "charge",
          "amount": 2500,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_18FCjLDTh2DhiR4RMw3ct4lA",
          "captured": true,
          "created": 1464223927,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "f91b6e60b4612f70da49"
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18FCjLDTh2DhiR4R2gezXWSu/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18FCjLDTh2DhiR4RK5LndvIR",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Thu, 26 May 2016 00:52:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: amount=2500&charge=ch_18FCjLDTh2DhiR4R2gezXWSu&metadata[original_reference]=f91b6e60b4612f70da49&metadata[refund_reference]=5a31b321074c0c645f0c
    headers:
      Authorization:
      - Bearer sk_test_hDphyYsTATxE4eOIrHbtqAlV
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5a31b321074c0c645f0c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5a31b321074c0c645f0c
      Original-Request:
      - req_8WFDLj5i95tiEh
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_18FCjMDTh2DhiR4RMsSrKSpy",
          "object": "refund",
          "amount": 2500,
          "balance_transaction": "txn_18FCjMDTh2DhiR4Rgw6vSj0U",
          "charge": "ch_18FCjLDTh2DhiR4R2gezXWSu",
          "created": 1464223928,
          "currency": "usd",
          "metadata": {
            "original_reference": "f91b6e60b4612f70da49",
            "refund_reference": "5a31b321074c0c645f0c"
          },
          "reason": null,
          "receipt_number": null,
          "status": "succeeded"
        }
  recorded_at: Thu, 26 May 2016 00:52:08 GMT
recorded_with: VCR 3.0.3
