---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2017&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_hDphyYsTATxE4eOIrHbtqAlV
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18EozdDTh2DhiR4Ro65GJidJ",
          "object": "token",
          "card": {
            "id": "card_18EozcDTh2DhiR4RgKcnewnV",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "YAXXiZ76FR58tQUG",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.13.236.96",
          "created": 1464132681,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 24 May 2016 23:31:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&description=&metadata[reference]=f3824da2a3b2deb201ae&source=tok_18EozdDTh2DhiR4Ro65GJidJ
    headers:
      Authorization:
      - Bearer sk_test_hDphyYsTATxE4eOIrHbtqAlV
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f3824da2a3b2deb201ae
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f3824da2a3b2deb201ae
      Original-Request:
      - req_8VqhzZBaQp8qGK
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_18EozdDTh2DhiR4R15enqBgz"
          }
        }
  recorded_at: Tue, 24 May 2016 23:31:21 GMT
recorded_with: VCR 3.0.3
