---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=&metadata[reference]=df0978ffb3662fc0999e&source=tok_17dMecDTh2DhiR4RLepNnYM1
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - df0978ffb3662fc0999e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - df0978ffb3662fc0999e
      Original-Request:
      - req_7tVhGjbxHu8ZNj
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17difiDTh2DhiR4R827uNn1p",
          "object": "charge",
          "amount": 3000,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17difiDTh2DhiR4REOQkdYwI",
          "captured": true,
          "created": 1455290246,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "df0978ffb3662fc0999e"
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17difiDTh2DhiR4R827uNn1p/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17dMecDTh2DhiR4RGQQRGd7R",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 12 Feb 2016 15:17:27 GMT
recorded_with: VCR 3.0.1
