---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=3000&currency=usd&description=&metadata[reference]=c05d2079c2bdace0576f&source=tok_17JOgUDTh2DhiR4RFkqvjS5r
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c05d2079c2bdace0576f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c05d2079c2bdace0576f
      Original-Request:
      - req_7YVhAB6CN0RQg0
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17JOgUDTh2DhiR4RVa8um2Dm",
          "object": "charge",
          "amount": 3000,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17JOgVDTh2DhiR4RHkPTRzMg",
          "captured": true,
          "created": 1450446854,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "c05d2079c2bdace0576f"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17JOgUDTh2DhiR4RVa8um2Dm/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17JOgUDTh2DhiR4RQZyeWtnS",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 18 Dec 2015 13:54:15 GMT
recorded_with: VCR 3.0.0
