---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2016&card[number]=4242+4242+4242+4242
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_179h4ADTh2DhiR4RFTSf7epO",
          "object": "token",
          "card": {
            "id": "card_179h4ADTh2DhiR4RDM39MiKc",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "73.9.29.65",
          "created": 1448134234,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 21 Nov 2015 19:30:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=3000&currency=usd&description=&metadata[reference]=4b3f6145ec7f6eb6b19a&source=tok_179h4ADTh2DhiR4RFTSf7epO
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4b3f6145ec7f6eb6b19a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4b3f6145ec7f6eb6b19a
      Original-Request:
      - req_7OU2Oav3QX7jbU
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_179h4BDTh2DhiR4Rdn5i89kL",
          "object": "charge",
          "amount": 3000,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_179h4BDTh2DhiR4Rmrt3T3b2",
          "captured": true,
          "created": 1448134235,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "4b3f6145ec7f6eb6b19a"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_179h4BDTh2DhiR4Rdn5i89kL/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_179h4ADTh2DhiR4RDM39MiKc",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Sat, 21 Nov 2015 19:30:35 GMT
recorded_with: VCR 3.0.0
