---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&description=&metadata[reference]=93767aff724e1e95ac40&source=%23[InstanceDouble%28StripeToken%29+%28anonymous%29]
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 93767aff724e1e95ac40
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 93767aff724e1e95ac40
      Original-Request:
      - req_7bHodmO5ZKGUXL
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such token: #[InstanceDouble(StripeToken) (anonymous)]",
            "param": "source"
          }
        }
  recorded_at: Fri, 25 Dec 2015 23:44:50 GMT
recorded_with: VCR 3.0.1
