---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2017&card[number]=4000000000000002
    headers:
<<<<<<< HEAD
      - Stripe/v1 RubyBindings/1.31.0
=======
      - Stripe/v1 RubyBindings/1.32.1
>>>>>>> failure_03
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
      X-Stripe-Client-User-Agent:
<<<<<<< HEAD
      - '{"bindings_version":"1.31.0","lang":"ruby","lang_version":"2.3.0 p0 (2015-12-25)","platform":"x86_64-darwin15","engine":"ruby","publisher":"stripe","uname":"Darwin
        Noels-Computer.local 15.2.0 Darwin Kernel Version 15.2.0: Fri Nov 13 19:56:56
        PST 2015; root:xnu-3248.20.55~2/RELEASE_X86_64 x86_64","hostname":"Noels-Computer.local"}'
=======
      - '{"bindings_version":"1.32.1","lang":"ruby","lang_version":"2.3.0 p0 (2015-12-25)","platform":"x86_64-darwin15","engine":"ruby","publisher":"stripe","uname":"Darwin
        Noels-Computer.local 15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58
        PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64","hostname":"Noels-Computer.local"}'
>>>>>>> failure_03
      Content-Length:
      - '82'
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Sat, 02 Jan 2016 20:20:47 GMT
      Content-Type:
      - application/json
      Content-Length:
      - '778'
=======
      - Thu, 28 Jan 2016 15:15:58 GMT
      Content-Type:
      - application/json
      Content-Length:
      - '782'
>>>>>>> failure_03
      Connection:
      - keep-alive
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET, POST, HEAD, OPTIONS, DELETE
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Max-Age:
      - '300'
      Cache-Control:
      - no-cache, no-store
      Request-Id:
<<<<<<< HEAD
      - req_7eEKVWwGyjSstz
=======
      - req_7ntHs0FEW15RGT
>>>>>>> failure_03
      Stripe-Version:
      - '2015-10-16'
      Strict-Transport-Security:
      - max-age=31556926; includeSubDomains
    body:
      encoding: UTF-8
      string: |
        {
<<<<<<< HEAD
          "id": "tok_17OvrnDTh2DhiR4Rrr996k6P",
          "object": "token",
          "card": {
            "id": "card_17OvrnDTh2DhiR4RER1AQwSG",
=======
          "id": "tok_17YHV4DTh2DhiR4RAa6MjLNK",
          "object": "token",
          "card": {
            "id": "card_17YHV3DTh2DhiR4RvLW5ONkY",
>>>>>>> failure_03
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "YAXXiZ76FR58tQUG",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
<<<<<<< HEAD
          "client_ip": "73.9.29.65",
          "created": 1451766047,
=======
          "client_ip": "199.182.211.53",
          "created": 1453994158,
>>>>>>> failure_03
          "livemode": false,
          "type": "card",
          "used": false
        }
<<<<<<< HEAD
  recorded_at: Sat, 02 Jan 2016 20:20:47 GMT
=======
  recorded_at: Thu, 28 Jan 2016 15:15:57 GMT
>>>>>>> failure_03
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
<<<<<<< HEAD
      string: amount=2500&currency=usd&description=&metadata[reference]=86bfb036effc45911177&source=tok_17OvrnDTh2DhiR4Rrr996k6P
=======
      string: amount=2500&currency=usd&description=&metadata[reference]=9faebea1ab82cd6ab49e&source=tok_17YHV4DTh2DhiR4RAa6MjLNK
>>>>>>> failure_03
    headers:
<<<<<<< HEAD
      - Stripe/v1 RubyBindings/1.31.0
=======
      - Stripe/v1 RubyBindings/1.32.1
>>>>>>> failure_03
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
      X-Stripe-Client-User-Agent:
<<<<<<< HEAD
      - '{"bindings_version":"1.31.0","lang":"ruby","lang_version":"2.3.0 p0 (2015-12-25)","platform":"x86_64-darwin15","engine":"ruby","publisher":"stripe","uname":"Darwin
        Noels-Computer.local 15.2.0 Darwin Kernel Version 15.2.0: Fri Nov 13 19:56:56
        PST 2015; root:xnu-3248.20.55~2/RELEASE_X86_64 x86_64","hostname":"Noels-Computer.local"}'
      Idempotency-Key:
      - 86bfb036effc45911177
=======
      - '{"bindings_version":"1.32.1","lang":"ruby","lang_version":"2.3.0 p0 (2015-12-25)","platform":"x86_64-darwin15","engine":"ruby","publisher":"stripe","uname":"Darwin
        Noels-Computer.local 15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58
        PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64","hostname":"Noels-Computer.local"}'
      Idempotency-Key:
      - 9faebea1ab82cd6ab49e
>>>>>>> failure_03
      Content-Length:
      - '114'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
<<<<<<< HEAD
      - Sat, 02 Jan 2016 20:20:48 GMT
=======
      - Thu, 28 Jan 2016 15:15:58 GMT
>>>>>>> failure_03
      Content-Type:
      - application/json
      Content-Length:
      - '162'
      Connection:
      - keep-alive
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET, POST, HEAD, OPTIONS, DELETE
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Max-Age:
      - '300'
      Cache-Control:
      - no-cache, no-store
      Idempotency-Key:
<<<<<<< HEAD
      - 86bfb036effc45911177
      Original-Request:
      - req_7eEKiJC0x9WQ1N
      Request-Id:
      - req_7eEKiJC0x9WQ1N
=======
      - 9faebea1ab82cd6ab49e
      Original-Request:
      - req_7ntHzGD5cF3LRO
      Request-Id:
      - req_7ntHzGD5cF3LRO
>>>>>>> failure_03
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
<<<<<<< HEAD
            "charge": "ch_17OvroDTh2DhiR4RkKLAuaL8"
          }
        }
  recorded_at: Sat, 02 Jan 2016 20:20:48 GMT
=======
            "charge": "ch_17YHV4DTh2DhiR4RsbNgNITR"
          }
        }
  recorded_at: Thu, 28 Jan 2016 15:15:58 GMT
>>>>>>> failure_03
recorded_with: VCR 3.0.1
