---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: amount=2000&currency=usd&id=basic_monthly_1452447531&interval=month&name=Basic+Monthly
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "basic_monthly_1452447531",
          "object": "plan",
          "amount": 2000,
          "created": 1452447532,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Basic Monthly",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Sun, 10 Jan 2016 17:38:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/basic_monthly_1452447531
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_bk4FEql3Fvd9j98YEhaAOXXN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "basic_monthly_1452447531",
          "object": "plan",
          "amount": 2000,
          "created": 1452447532,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Basic Monthly",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Sun, 10 Jan 2016 17:38:53 GMT
recorded_with: VCR 3.0.1
