---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/basic_monthly_1464132664
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_hDphyYsTATxE4eOIrHbtqAlV
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such plan: basic_monthly_1464132664",
            "param": "id"
          }
        }
  recorded_at: Tue, 24 May 2016 23:31:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: amount=2000&currency=usd&id=basic_monthly_1464132664&interval=month&name=Basic+Monthly
    headers:
      Authorization:
      - Bearer sk_test_hDphyYsTATxE4eOIrHbtqAlV
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "basic_monthly_1464132664",
          "object": "plan",
          "amount": 2000,
          "created": 1464132666,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Basic Monthly",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Tue, 24 May 2016 23:31:06 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/basic_monthly_1464132664
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_hDphyYsTATxE4eOIrHbtqAlV
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "basic_monthly_1464132664",
          "object": "plan",
          "amount": 2000,
          "created": 1464132666,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Basic Monthly",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Tue, 24 May 2016 23:31:06 GMT
recorded_with: VCR 3.0.3
