---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_hDphyYsTATxE4eOIrHbtqAlV
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18EozcDTh2DhiR4RAM4B9gL0",
          "object": "token",
          "card": {
            "id": "card_18EozbDTh2DhiR4RjnfMTX6t",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.13.236.96",
          "created": 1464132680,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 24 May 2016 23:31:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&description=&metadata[reference]=4a9d7755a850e09d5086&source=tok_18EozcDTh2DhiR4RAM4B9gL0
    headers:
      Authorization:
      - Bearer sk_test_hDphyYsTATxE4eOIrHbtqAlV
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4a9d7755a850e09d5086
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4a9d7755a850e09d5086
      Original-Request:
      - req_8VqhyLvvaQWNA6
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18EozcDTh2DhiR4RqIvRi2QG",
          "object": "charge",
          "amount": 2500,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_18EozcDTh2DhiR4RKcB2fXwx",
          "captured": true,
          "created": 1464132680,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "4a9d7755a850e09d5086"
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18EozcDTh2DhiR4RqIvRi2QG/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18EozbDTh2DhiR4RjnfMTX6t",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Tue, 24 May 2016 23:31:20 GMT
recorded_with: VCR 3.0.3
